<h1> Discover </h1>

  <h2 class="brand_description"><a href=<%= @art["url"]%> target="_blank"><%= @art["title"] %></a></h2>
      <b><div class="discovered_art_medium"><%= @art["medium"] %></div></b>

      <a href=<%=@art["images"][0].first[1]["url"]%>>
      <img class="image" border="0" src=<%=@art["images"][0].first[1]["url"]%>>
      </a>
      <br>
      <div class="button"><%= link_to "Add to Favorites", new_user_art_path, params: {title: @art["title"], url_link: @art["url"], image: @art["images"][0].first[1]}, method: :get  %></div>

