<h1> Art Show Page </h1>
<img src="<%= @user_art.image %>" alt="<%= @user_art.title %>" class="favorite-show-page">

<h4><%= @user_art["title"] %> </h4>
<h5><%= @user_art["blurb"] %> </h5>
<a href=<%= @user_art["url_link"] %>> More Info </a>

<br>
<h3> Comments </h3>