<div class="box">
    <img src="<%= @user_art.image %>" alt="<%= @user_art.title %>" class="favorite-show-page">
</div>

<h4 class="title"><%= @user_art["title"] %> </h4>

<div class="link">
    <a href=<%= @user_art["url_link"] %> > 
        More Info 
    </a>
</div>

<h5 class="blurb"><%= @user_art["blurb"] %> </h5>

<% if @current_user == @user_art.user %>
<div class="user-button-container">
    <%= button_to "Delete Favorite", user_art_path(@user_art), method: :delete, :class => "delete-button" %>
</div>
<% end %>

<br>
<h3 class="comment"> Comments </h3>
<% if @user_art.comments.empty? %>
    <p class="no-comment">No Comments Yet :(</p>
<% else %>
    <% @user_art.comments.each do |comment| %>
        <div class="follower-profile-link">
            <%= link_to comment.user.name, view_other_path(comment.user), :class => "follower-link"%>
            <span class="follower-comment"><%= comment.content %></span>    
        </div>
    <% end %>
<% end %>

<% if @user_art.user != @current_user %>
    <%= form_for @comment do |f| %>
        <%= f.label "Write your comment here" %>
        <br>
        <%= f.text_area :content %>
        <br>

        <%= f.hidden_field :user_id, value: @current_user.id %>
        <%= f.hidden_field :user_art_id, value: @user_art.id %>

        <%= f.submit "Create!" %>
    <% end %>
<% end %>

