<div class="box">
    <img src="<%= @user_art.image %>" alt="<%= @user_art.title %>" class="favorite-show-page">
</div>

<h4 class="title"><%= @user_art["title"] %> </h4>

<div class="link">
    <a href=<%= @user_art["url_link"] %> > 
        More Info 
    </a>
</div>

<h5 class="blurb"><%= @user_art["blurb"] %> </h5>


<br>
<h3 class="comment"> Comments </h3>
<% if @user_art.comments.empty? %>
    <p class="no-comment">No Comments Yet :(</p>
<% else %>
    <% @user_art.comments.each do |comment| %>
     <%= link_to comment.user.name, view_other_path(comment.user), :class => "comment-link"%>
    <span class="user-comment"><%= comment.content %> </span>
    <% end %>
<% end %>

<% if @user_art.user != @current_user %>
    <%= form_for @comment do |f| %>
        <div class="write-comment"><%= f.label "Write your comment here" %></div>
        <br>
        <%= f.text_area :content %>
        <br>

        <%= f.hidden_field :user_id, value: @current_user.id %>
        <%= f.hidden_field :user_art_id, value: @user_art.id %>

        <%= f.submit "Create!" %>
    <% end %>
<% end %>