<%# Use profile picute class for css later%>

<div class="box">
<img src="<%= (url_for(@current_user.profile_picture)) %>" alt="<%= @current_user.name %> Profile Pic" class="profile-picture" width="400" height="300">
</div>

<h2 class="user-name"><%= @current_user.name  %></h2>

<p class="user-bio"> <%= @current_user.bio %> </p>

<h3 class="favorites">Your Favorites</h3>

<div class="row">
    <div class="column">
        <% @current_user.favorites.reverse.each do |image| %>
            <div class ="user-image">
                <a href=<%= user_art_path(image) %>>
                    <div class="testimage"><img src="<%= image["image"]%>" class="favorite-image"></div>
                </a>
            </div>
        <% end %>
    </div>
</div>