<div class="box">
    <img src="<%= (url_for(@user.profile_picture)) %>" alt="<%= @user.name %> Profile Pic" class="profile-picture" width="400" height="300">
</div>

<h2 class="user-name"> <%= @user.name  %> </h2>

<p class="user-bio"> <%= @user.bio %> </p>

<h3 class="favorites">Favorites</h3>

<div class="row">
    <div class="column">
        <% @user.favorites.reverse.each do |image| %>
            <div class ="user-image">
                <a href=<%= user_art_path(image) %>>
                    <div class="testimage"><img src="<%= image.image %>"></div>
                </a>
            </div>
        <% end %>
    <div>
</div>