<div class="search-bar">
<h1 class="welcome_message">Welcome back, <%= @current_user.name %></h1>
  <h1 class="brand_message">Gallery.io</h1>
  <h1 class="brand_description">A Digital Museum</h1>


<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>

<h2>Explore from the options below</h2>
<%= form_tag("/user_search", method: "post") do %>
  <%= label_tag(:q, "") %>
  <%= text_field_tag(:q) %>

  <%= select_tag :search_id, options_from_collection_for_select(Search.all, :id, :name, params[:search_id]) %>

<%= submit_tag("Search") %>
<% end %>

</div>


<div class="row">
  <div class="column">
    <a href=<%= @one["url"]%> class="image-1">
      <div class="testimage"><img border="0" src=<%=@one["images"][0].first[1]["url"]%> ></div>
    </a>
 
      <a href=<%= @second["url"]%> class="image-two">
      <div class="testimage"><img border="0" src=<%=@second["images"][0].first[1]["url"]%> ></div>
    </a> 

      <a href=<%= @third["url"]%> class="image-1">
      <div class="testimage"><img border="0" src=<%=@third["images"][0].first[1]["url"]%>  ></div>
    </a>  

      <a href=<%= @fourth["url"]%> class="image-two">
      <div class="testimage"><img border="0" src=<%=@fourth["images"][0].first[1]["url"]%>  ></div>
    </a>
  </div>
</div>     