<!DOCTYPE html>
<html>
  <head>
    <title>Gallerydotio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= button_to "Log In", new_login_path, method: :get %> </li>
      <li><%= button_to "Sign Up", new_user_path, method: :get %> </li>
      <li> <%= button_to "Log Out", logout_path, method: :delete %> </li>
      <li> <%= button_to "Find Favorites", root_path, method: :get %> </li>
      <li> <%= button_to "Discover", users_path, method: :get %> </li>
      <li> <%= button_to "Your Provile", user_path(@current_user), method: :get %> </li>
    </ul>
  <br>
  <hr>
    <%= yield %>
  </body>
</html>
