<!DOCTYPE html>
<html>
  <head>
    <title>Gallerydotio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="banner">
      <%= image_tag "logo.jpg", class:"banner-img" %>
    </div>

    <ul class="nav">
      
      <% if @current_user %>
        <li class="left"> <%= link_to "Home", user_search_path %></li>
        <li class="left"> <%= link_to "Art Bench", users_path %> </li>
        <li class="left"> <%= link_to "Discover", discover_path %> </li>
        <li class="left"> <%= link_to "Profile", user_path(@current_user), method: :get %> </li>
        <li class="right"> Welcome <%= @current_user.name %>!</li>
        <li class="right"> <%= link_to "Log Out", logout_path, method: :delete %> </li>
      <% else %>
        <li class="left"> <%= link_to "Home", root_path %> </li>
        <li class="left"> <%= link_to "Discover", discover_path %> </li>

        <li class="right"><%= link_to "Log In", new_login_path %></li>
        <li class="right"><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
