<!DOCTYPE html>
<html>
  <head>
    <title>Gallerydotio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
  </head>

  <body class="tippytop">
    <div class="banner_container">

      <button class="button button 1"><%= link_to "Log In", new_login_path %> </button>
      <button class="button button 2"><%= link_to "Sign Up", new_user_path %> </button>      
      <button class="button button 3"><%= link_to "Log Out", logout_path, method: :delete %> </button>      
      <button class="button button 4"><%= link_to "Find Favorites", root_path %> </button>
      <button class="button button 5"><%= link_to "Discover", users_path %> </button>
      <button class="button button 6"><%= link_to 'Facebook Login', 'auth/facebook' %> </button>

    </div>
    <br>

    <%= yield %>
  </body>
</html>
